.navbar_container {
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between !important;
  padding: 0 2rem;
  height: 6rem;
  max-width: 100wh;
  min-width: 550px;
  margin-bottom: 1rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 0px 15px 25px #00b7ff;
}
.navbar_title {
  display: flex;
  flex-direction: row;
}
.title {
  font-weight: 700;
  letter-spacing: 4px;
}
.navbar_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}
a {
  display: block;
  text-decoration: none;
  color: rgb(117, 117, 138);
}
a:hover {
  color: rgb(74, 74, 85);
  transition: 0.2s ease;
  padding-bottom: 4.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #00b7ff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
a:active {
  margin-top: 0;
  color: rgb(146, 146, 146);
  transition: 0.2s ease-in-out;
}
.logo {
  width: 2.5rem;
  z-index: 1;
}
